<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Menas - menininkai </title>
	  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
	  <link rel="stylesheet" href="jqueryui.css">
	<style>
		h3 {
	 		text-align:center;
		}
		table {
			text-align:center;
			clear: both;
		}
		th {
			background-color: Chocolate;
		}
		nav a {
			display: inline-block;
			padding: 12px;
			margin: 12px;
			text-decoration: none;
			color: Brown;
			background-color: Aquamarine;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;		
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);		
		}
		nav a:hover {
			text-decoration: underline;	
			background-color: Aqua;	
		}
		form {
			
			width: 600px;
		}

	</style>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script src="check.lib.js"></script>
  <script>
  $( function() {
  
  var avail_laikytojai;	   
	   
		$.ajax({
	
			url: "http://localhost:8080/ajax/lst-laikytojai"
							
		}).done( 
		
			function ( data_laikytojai ) {
			
				avail_laikytojai = data_laikytojai;
				
				 // alert ( 'po: ' + JSON.stringify ( avail_laikytojai ) );
				
				   $( "#laikytojas" ).autocomplete({
				   
				      minLength: 0,
				      source: avail_laikytojai,
				      focus: function( event, ui ) {
				        $( "#laikytojas" ).val( ui.item.pav );
				        return false;
				      },
				      select: function( event, ui ) {
				      
				        $( "#laikytojas" ).val( ui.item.pav );
				        $( "#id_laikytojas" ).val( ui.item.id );
				
				        return false;
				      }
				    }) 
				    .autocomplete( "instance" )._renderItem = function( ul, item ) {
				    
				      return $( "<li>" )
				        .append( "<div>" + item.pav + "</div>" )
				        .appendTo( ul );
				    };				
			}
		);	   
  
    var dialog, form,
 
      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
      meno_kryptis = $( "#kryptis_meno" ),
      miestas = $( "#miestas" ),
      valstybe = $( "#valstybe" ),
      allFields = $( [] ).add( meno_kryptis ).add( miestas ).add( valstybe ),
      tips = $( ".validateTips" );
 

 
    function checkKurinys() {
      var valid = true;
      allFields.removeClass( "ui-state-error" );
 /*
      valid = valid && checkLength( pav, "pav", 3, 64 );
      valid = valid && checkLength( meno_kryptis, "kryptis_meno", 6, 32 );
      valid = valid && checkLength( miestas, "miestas", 4, 32 );
      valid = valid && checkLength( valstybe, "valstybe", 4, 32 );
 
      valid = valid && checkRegexp( pav, /^[a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ]([0-9a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ_\s])+$/i, "Pav turi būti iš raidžių, skaitmenų, pabraukimo, tarpo ir turi prasidėti raide." );
      valid = valid && checkRegexp( miestas, /^[a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ]([0-9a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ-\s])+$/i, "Miestas turi būti iš raidžių, skaitmenų, pabraukimo, tarpo ir turi prasidėti raide." );
      valid = valid && checkRegexp( valstybe, /^[a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ]([0-9a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ-\s])+$/i, "Valstybe turi būti iš raidžių, skaitmenų, pabraukimo, tarpo ir turi prasidėti raide." );
 */ 
      alert ( valid );      
      if ( valid ) {
      
   
        dialog.dialog( "close" );

      }
      return valid;
    }
    
  
    dialog = $( "#parduoti-form" ).dialog({
    
      autoOpen: false,
      height: 400,
      width: 350,
      modal: true,
      buttons: {
        "Parduoti": function() {
        
        	if ( checkKurinys() ) {
        	
        		alert ( $('#pav').val() );
        	
        		form.submit();
        	}
        },
        "Atšaukti": function() {
        
         form[ 0 ].reset();       
          dialog.dialog( "close" );
        }
      },
      close: function() {

        allFields.removeClass( "ui-state-error" );
      }
    });
 
    form = dialog.find( "form" );
    
	$( '.sell' ).each( function () {
    
    	$( this ).click( function() {
    
	    	id= $( this ).parent().parent().data( 'idx' );
	    	
	    	alert ( id );
	     
	   		$.ajax({
		
				url: "http://localhost:8080/ajax/kurinys?id=" + id
								
			}).done( 
			
				function ( kurinys ) {
				
					console.log ( kurinys ); 
			
					$( '#idx' ).val( kurinys.id  )		
					$( '#pav' ).val( kurinys.pav )
					$( '#technika' ).val( kurinys.technika )		
					$( '#metai_sukurimo' ).val( kurinys.metaiSukurimo)
					$( '#rusis' ).val( kurinys.rusis )					
					$( '#kaina' ).val ( kurinys.kaina );
					
					if ( kurinys.laikytojai ) {
								
						$( '#laikytojas' ).val ( kurinys.laikytojai.pav ); 
						$( '#id_laikytojas' ).val ( kurinys.id_laikytojai );
					}
					$( '#irasas' ).val ( 'parduoti' );
					dialog.dialog( "open" );											
				}
			);
		}); 
    });
  });
  </script>	
</head>
<body>
	<nav>
		<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
	</nav>

	<h3> Laikytojo kūriniai </h3>
	<div style="width: 40%; margin 10px auto 10px auto">
	<div id="parduoti-form" class='ui-front' title="Parduoti">
	<form id="parduoti_kuriny" method="post" action=" ">
		<label for="pav">Pavadinimas</label>
		<input disabled type="text" id="pav">
		<label for="pav">Laikytojas</label>
		<input type="text" id="laikytojas" name="laikytojas">	
		<input type="hidden" id="id_laikytojas" name="id_laikytojas">	
		<label for="miestas">Technika</label>
		<input disabled type="text" id="technika">
		<label for="meno_kryptis">Rūšis</label>		
		<input disabled type="text" id="rusis">
		<label for="valstybe">Metai sukūrimo</label>		
		<input disabled type="text" id="metai_sukurimo">
		<label for="valstybe">Kaina</label>		
		<input disabled type="text" id="kaina">
		<label for="valstybe">Menininkas</label>
		<input disabled type="text" id="menininkas">			
		<input type="hidden" id="idx" name="idx" value="0">		
		<input type="hidden" id="irasas" name="irasas" value="papildyti">
		
			
      <!-- Allow form submission with keyboard without duplicating the dialog button -->
      <input type="submit" tabindex="-1" style="position:absolute; top:-1000px">						
	</form>
	</div>
	<table>
		<tr>
			<th>Veiksmai</th>	
			<th>Pavadinimas</th> 
			<th>Technika</th>
			<th>Rūšis</th>
			<th>Metai sukūrimo</th>
			<th>Kaina</th>
			<th>Laikytojas</th>
			<th>Menininkas</th>			
		</tr>
		<tr th:each="kurinys : ${kuriniai}" data-th-data-idx="${kurinys.getId()}">
			<td>
				<!--a th:href=>peržiūra</a-->
				<input type="button" class="tr1 sell" value="Parduoti">			
			</td>
			<td th:text="${kurinys.getPav()}">	
			<td th:text="${kurinys.getTechnika()}"></td>
			<td th:text="${kurinys.getRusis()}"></td>	
			<td th:text="${kurinys.getMetaiSukurimo()}"></td>
			<td th:text="${kurinys.getKaina()}"></td>
			<td th:text="${kurinys.getLaikytojai()} ? ${kurinys.getLaikytojai().getPav()} : 'x' "></td>	
			<td th:text="${kurinys.getMenininkai()} ? ${kurinys.getMenininkai().getPav()} : 'x' "></td>						
		</tr>
	</table>					
</body>
</html>