<!DOCTYPE html>
<html>
<head>
	<meta charset="utf-8">
	<title> Menas - menininkai </title>
	<style>
		h3 {
	 		text-align:center;
		}
		
		table.center {
			text-align:center;
			clear: both;
			margin-left:auto; 
   			margin-right:auto;
			
			-webkit-box-shadow: 5px 5px 5px 0px #000000
			, inset 4px 4px 15px 0px #000000
			, 5px 5px 15px 5px rgba(0,0,0,0); 
			box-shadow: 5px 5px 5px 0px #000000
			, inset 4px 4px 15px 0px #000000
			, 5px 5px 15px 5px rgba(0,0,0,0);
		}
		th {
			background-color: #FFC300;
			height: 50px;
		}
		nav a {
			display: inline-block;
			padding: 12px;
			margin: 12px;
			text-decoration: none;
			color: Black;
			background-color: #CAB85C;
			-webkit-border-radius: 8px;
			-moz-border-radius: 8px;
			border-radius: 8px;		
			-webkit-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			-moz-box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);
			box-shadow: 10px 10px 5px 0px rgba(0,0,0,0.75);		
		}
		nav a:hover {
			text-decoration: underline;	
			background-color: #E3F392;	
		}
		
		form {
			
			width: 600px;
		}
		
		.button {
		
			width: 100px;
		}

		input, textarea, label {
		
			width: 70%;
			padding: 7px;
			margin: 7px;
		}
		
		input[type=submit] {
		
			width: 40%;
			float: right;
			margin-right: 23px;
		}				
		
		input {
		
			-webkit-border-radius: 7px;
			-moz-border-radius: 7px;
			border-radius: 7px;	
		}
		
		body {
		
		background-color: #F4F6F6; 
		text-align:center;
		}	
	</style>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <link rel="stylesheet" href="/resources/demos/style.css">
</head>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <script>
  $( function() {
  
	   var avail_menininkai;
	   
	//   alert( 'pries' );
	   
		$.ajax({
		
			url: "http://localhost:8080/ajax/lst-menininkai"
							
		}).done( 
		
			function ( data_menininkai ) {
			
				avail_menininkai = data_menininkai;
				
				 // alert ( 'po: ' + JSON.stringify ( avail_menininkai ) );
				
				   $( "#menininkas" ).autocomplete({
				   
				      minLength: 0,
				      source: avail_menininkai,
				      focus: function( event, ui ) {
				        $( "#menininkas" ).val( ui.item.pav );
				        return false;
				      },
				      select: function( event, ui ) {
				      
				        $( "#menininkas" ).val( ui.item.pav );
				        $( "#id_menininko" ).val( ui.item.id );
				
				        return false;
				      }
				    }) 
				    .autocomplete( "instance" )._renderItem = function( ul, item ) {
				    
				      return $( "<li>" )
				        .append( "<div>" + item.pav + "</div>" )
				        .appendTo( ul );
				    };				
			}
		);	   
	   
	    var avail_kuriniai;
	   
	//   alert( 'pries' );
	   
		$.ajax({
		
			url: "http://localhost:8080/ajax/lst-kuriniai"
							
		}).done( 
		
			function ( data_kuriniai ) {
			
				avail_kuriniai = data_kuriniai;
				
				 // alert ( 'po: ' + JSON.stringify ( avail_kuriniai ) );
				/*
				   $( "#kurinys" ).autocomplete({
				   
				      minLength: 0,
				      source: avail_menininkai,
				      focus: function( event, ui ) {
				        $( "#kurinys" ).val( ui.item.pav );
				        return false;
				      },
				      select: function( event, ui ) {
				      
				        $( "#kurinys" ).val( ui.item.pav );
				        $( "#id" ).val( ui.item.id );
				
				        return false;
				      }
				    }) 
				    .autocomplete( "instance" )._renderItem = function( ul, item ) {
				    
				      return $( "<li>" )
				        .append( "<div>" + item.pav + "</div>" )
				        .appendTo( ul );
				    };	
				*/	
			}
		);	   
	   
		var avail_laikytojai;	   
	   
		$.ajax({
	
			url: "http://localhost:8080/ajax/lst-laikytojai"
							
		}).done( 
		
			function ( data_laikytojai ) {
			
				avail_laikytojai = data_laikytojai;
				
				 // alert ( 'po: ' + JSON.stringify ( avail_laikytojai ) );
				
				   $( "#laikytojas" ).autocomplete({
				   
				      minLength: 0,
				      source: avail_laikytojai,
				      focus: function( event, ui ) {
				        $( "#laikytojas" ).val( ui.item.pav );
				        return false;
				      },
				      select: function( event, ui ) {
				      
				        $( "#laikytojas" ).val( ui.item.pav );
				        $( "#id_laikytojai" ).val( ui.item.id );
				
				        return false;
				      }
				    }) 
				    .autocomplete( "instance" )._renderItem = function( ul, item ) {
				    
				      return $( "<li>" )
				        .append( "<div>" + item.pav + "</div>" )
				        .appendTo( ul );
				    };				
			}
		);
		
		var dialog, form,
	 
	      // From http://www.whatwg.org/specs/web-apps/current-work/multipage/states-of-the-type-attribute.html#e-mail-state-%28type=email%29
	      laikytojas = $( "#laikytojas" ),
	      pav = $( "#pav" ),
	      rusis = $( "#rusis" ),
	      technika = $( "#technika" ),
	      menininkas =$("#menininkas")
	      kaina =$("#kaina")
	      metai_sukurimo =$("#metai_sukurimo")
	      allFields = $( [] ).add( laikytojas ).add( pav ).add( rusis ).add( technika ).add( menininkas ).add( kaina ).add( metai_sukurimo ),
	      tips = $( ".validateTips" );
	 
	    function updateTips( t ) {
	      tips
	        .text( t )
	        .addClass( "ui-state-highlight" );
	      setTimeout(function() {
	        tips.removeClass( "ui-state-highlight", 1500 );
	      }, 500 );
	    }
	 
	    function checkLength( o, n, min, max ) {
	      if ( o.val().length > max || o.val().length < min ) {
	        o.addClass( "ui-state-error" );
	        updateTips( "Length of " + n + " must be between " +
	          min + " and " + max + "." );
	        return false;
	      } else {
	        return true;
	      }
	    }
	 
	    function checkRegexp( o, regexp, n ) {
	      if ( !( regexp.test( o.val() ) ) ) {
	        o.addClass( "ui-state-error" );
	        updateTips( n );
	        return false;
	      } else {
	        return true;
	      }
	    }
	 
	    function addKurinys() {
	      var valid = true;
	      allFields.removeClass( "ui-state-error" );
	 /*
		  valid = valid && checkLength( laikytojas, "laikytojas", 3, 64 );
	      valid = valid && checkLength( pav, "pav", 3, 64 );
	      valid = valid && checkLength( meno_kryptis, "kryptis_meno", 6, 32 );
	      valid = valid && checkLength( miestas, "miestas", 4, 32 );
	      valid = valid && checkLength( valstybe, "valstybe", 4, 32 );
	 
	      valid = valid && checkRegexp( pav, /^[a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ]([0-9a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ_\s])+$/i, "Pav turi būti iš raidžių, skaitmenų, pabraukimo, tarpo ir turi prasidėti raide." );
	      valid = valid && checkRegexp( miestas, /^[a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ]([0-9a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ-\s])+$/i, "Miestas turi būti iš raidžių, skaitmenų, pabraukimo, tarpo ir turi prasidėti raide." );
	      valid = valid && checkRegexp( valstybe, /^[a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ]([0-9a-zA-ZąčęėįšųūžĄČĘĖĮŠŲŪŽ-\s])+$/i, "Valstybe turi būti iš raidžių, skaitmenų, pabraukimo, tarpo ir turi prasidėti raide." );
	 */
	  
	      alert ( valid );      
	      if ( valid ) {
	      
	   
	        dialog.dialog( "close" );
	
	      }
	      return valid;
	    }
	 
	    dialog = $( "#dialog-form" ).dialog({
	    
	      autoOpen: false,
	      height: 400,
	      width: 350,
	      modal: true,
	      buttons: {
	        "Išsaugoti": function() {
	        
	        	if ( addKurinys() ) {
	        	
	        		alert ( $('#pav').val() );
	        	
	        		form.submit();
	        	}
	        },
	        "Atšaukti": function() {
	        
	         form[ 0 ].reset();       
	          dialog.dialog( "close" );
	        }
	      },
	      close: function() {
	
	        allFields.removeClass( "ui-state-error" );
	      }
	    });
	 
	    form = dialog.find( "form" );
	 
	    $( "#naujas_irasas" ).button().on( "click", function() {
	      dialog.dialog( "open" );
	    });	  
	    
	dialog = $( "#parduoti-form" ).dialog({
    
		      autoOpen: false,
		      height: 400,
		      width: 350,
		      modal: true,
		      buttons: {
			"Išsaugoti": function() {
			
				if ( addKurinys() ) {
				
					alert ( $('#pav').val() );
				
					form.submit();
				}
			},
			"Atšaukti": function() {
			
			 form[ 0 ].reset();       
			  dialog.dialog( "close" );
			}
		      },
		      close: function() {

			allFields.removeClass( "ui-state-error" );
		      }
	});
 
    form = dialog.find( "form" );
 
    $( "#naujas_irasas" ).button().on( "click", function() {
      dialog.dialog( "open" );
    });
    
	$( '.edit' ).each( function () {
    
    	$( this ).click( function() {
    
	    	id= $( this ).parent().parent().data( 'idx' );
	    	
	    	alert ( id );
	     
	   		$.ajax({
		
				url: "http://localhost:8080/ajax/kurinys?id=" + id
								
			}).done( 
			
				function ( kurinys ) {
				
					console.log ( kurinys ); 
				
					$( '#idr' ).val( kurinys.id  )		
					$( '#pav' ).val( kurinys.pav )
					$( '#technika' ).val( kurinys.technika )		
					$( '#rusis' ).val( kurinys.rusis )	
					$( '#metai_sukurimo' ).val ( kurinys.metai_sukurimo );
					$( '#kaina' ).val (kurinys.kaina)				
					$ ('#irasas' ).val ( 'pakeisti' ); 	
					dialog.dialog( "open" );					
				}
			);
		}); 
    }); 
    /*
    $( '.istorija' ).each( function () {
    
    	$( this ).click( function() {
    
	    	id= $( this ).parent().parent().data( 'idx' );
	    	
	    	
	     
	   		$.ajax({
		
				url: "http://localhost:8080/ajax/istorija?id=" + id
								
			}).done( 
			
				function ( istorija ) {
				
					console.log ( istorija ); 
				
					$( '#id' ).val( istorija.id  )		
					$( '#id_kuriniai' ).val( istorija.id_kuriniai );
					$( '#id_laikytojai' ).val( istorija.id_laikytojai );		
					$( '#data_nuo' ).val( istorija.data_nuo );	
					$( '#kaina' ).val (istorija.kaina );				
					$ ('#irasas' ).val ( 'istorija' ); 	
					dialog.dialog( "open" );					
				}
			);
		});  
	});	*/   
  });
  </script>
<body>
	<nav>
		<a th:each="menu_item : ${lst_menu}" th:href="${menu_item.itemurl()}" th:text="${menu_item}"></a>
	</nav>

	<h3> Kūrniniai </h3>
	<div style="width: 0%; margin 10px auto 10px auto">
	<input class="button" type="button" id="naujas_irasas" value="papildyti">
	<div class="vertical-center" id="dialog-form" title="Kūrinys">
	<form id="frm_kurinys" method="post" action="">
		<label for="laikytojas">Laikytojas</label>
		<input type="text" name="laikytojas" id="laikytojas">
		<input type="hidden" name="id_laikytojai" id="id_laikytojai">
		<label for="pav">Pavadinimas</label>
		<input type="text" name="pav">
		<label for="miestas">Rusis</label>
		<select name="rusis">
			<option value="tapyba">Tapyba</option>
			<option value="skulptura">Skulptūra</option>
		</select>
		<label for="technika">Technika</label>		
		<input type="text" name="technika">
		<label for="menininkas">Menininkas</label>
		<input type="text" id="menininkas">
		<input type="hidden" name="id_menininko" id="id_menininko">	
		<label for="kaina">Kaina</label>		
		<input type="text" name="kaina">
		<label for="metai_sukurimo">Metai sukūrimo</label>		
		<input type="text" name="metai_sukurimo">				
		<input type="submit" name="irasas" value="papildyti">
		<input type="hidden" name="irasas" id="irasas" value="parduoti">
		
		<input type="submit" tabindex="-1" style="position:absolute; top:-1000px">
	</form>
	</div>
	<table class="center">
		<tr>
			<th>Veiksmai</th>	
			<th>Laikytojas</th>
			<th>Menininkas</th>
			<th>Pavadinimas</th>
			<th>Rusis</th> 
			<th>Technika</th>
			<th>Kaina</th>			
		</tr>
		<tr th:each="kurinys : ${kuriniai}"  data-th-data-idx="${kurinys.getId()}">
			<td>
			<input type="button" class="tr1 edit" value="redaguoti">
			<a th:href="@{/istorija(id=${kurinys.getId()})}">istorija</a>
			</td>
			<td th:text="${kurinys.getLaikytojai()} ? ${kurinys.getLaikytojai().getPav()} : 'x' "></td>
			<td th:text="${kurinys.getMenininkai()} ? ${kurinys.getMenininkai().getPav()} : '' "></td>
			<td th:text="${kurinys.getPav()}"></td>	
			<td th:text="${kurinys.getRusis()}"></td>
			<td th:text="${kurinys.getTechnika()}"></td>	
			<td th:text="${kurinys.getKaina()}"></td>					
		</tr>
	</table>					
</body>
</html>